
.nav-brand{
  flex-direction: column;
  justify-content: center;
  display: flex;
  background-color: rgb(153, 153, 255);
}

.logo{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: 50px;
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.nav-link{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 50px;
  color: white;
 
}

.hero-section{
  display: flex;
  justify-content: center;
  margin-left: 70px;
  margin-top: 70px;
}

.hero-pic{
  box-shadow: 1px 1px 0px 1px lightblue;
    height: 700px;
  width: 800px;
}

.hero-info{
  display: flex;

}