
.navbar{
  flex-direction: row;
  justify-content: center;
  display: flex;
  background-color: grey;
  height: 110px;
}

.nav-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  justify-content: space-between;
}

.each-link{
  padding-left: 20px;
  padding-right: 20px;
}
.phone{ 
  align-items: center;
  margin-right: 25px;
  margin-left: 50px;
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.brand{
  display: flex;
  justify-content: center;
}

.logo{
  display: flex;
  justify-content: center;

 

  font-size: 50px;
  text-decoration: none;
  font-weight: 600;
}

.title-center{
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.hero-section{
  display: flex;
  justify-content: center;
  

}

.hero-info{
  display: flex;
  flex-direction: row;
  width:1400px;
}

.hero-image{
  width: 1300px;
}

.hero-info-button{
  margin-top: 40px;
  height: 60px;
  width: 400px;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(153, 153, 255);
border-radius: 30%;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}